<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <AutoClicker.Properties.Settings>
            <setting name="RandomAreaPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RandomAreaSize" serializeAs="String">
                <value>40, 20</value>
            </setting>
            <setting name="FixedClickCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NextClickDelayMinMS" serializeAs="String">
                <value>520</value>
            </setting>
            <setting name="NextClickDelayMaxMS" serializeAs="String">
                <value>1520</value>
            </setting>
            <setting name="AfterWheelRollDelayMinMS" serializeAs="String">
                <value>1020</value>
            </setting>
            <setting name="AfterWheelRollDelayMaxMS" serializeAs="String">
                <value>1820</value>
            </setting>
            <setting name="EnableLogToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDebugging" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoClicker.Properties.Settings>
    </userSettings>
</configuration>
